.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 50vh;
}

body {
    background-color: #CAFAFE;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #FC4445;
    height: 90%;
    border: .1rem black 23%;
}